@model dynamic

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}



<section class="bg-dark text-light p-5 pt-3 text-center">
    <div class="container">
        <div class="input-group">
          <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" id="search-input-field" />
          <button type="button" class="btn btn-primary" id="main-search-button">SEARCH</button>
        </div>
    </div>
</section>

<div class="p-3 justify-content-end hidden" id="createbuttonsec">
        
</div>

<section class="p-5 pt-2 text-center bg-light" id="results-section">

    
    
    <div class="album py-5 ">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" id="products-table">
            </div>
        </div>
    </div>

    <nav >
        <ul class="pagination justify-content-center" id="pager-section">
        </ul>
    </nav>
</section>

<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>

<script src="~/Scripts/UserManagment/productsAuthentication.js"></script>
<script src="~/Scripts/ProductsJs/products.js"></script>
