@model dynamic

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<section class="bg-light">
  <div class="px-4 py-5 px-md-5 text-center text-lg-start" style="background-color: hsl(0, 0%, 96%)">
    <div class="container">
      <div class="row gx-lg-5 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
          <h1 class="my-5 display-3 fw-bold ls-tight">
            The best offer <br />
            <span class="text-primary">for your trekking experiences</span>
          </h1>

        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
          <div class="card">
            <div class="card-body py-5 px-md-5">
              
              
              <form action="/api/user/register" method="POST" target="_blank">
                <div class="row">
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <input type="text" id="FirstName" name="FirstName"class="form-control" />
                      <label class="form-label" for="FirstName">First name</label>
                      
                      
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      
                      <input type="text" id="LastName" name="LastName" class="form-control" />
                      <label class="form-label" for="LastName">Last name</label>
                    
                    
                      </div>
                  </div>
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                  <input type="email" id="Email" name="Email" class="form-control" />
                  <label class="form-label" for="Email">Email</label>
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  <input type="password" id="Password" name="Password" class="form-control" />
                  <label class="form-label" for="Password">Password</label>
                </div>

                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-block mb-4" onclick="window.location.href='/'">
                  Sign up 
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Jumbotron -->
</section>

@* <script src=""></script> *@